@charset "utf-8" ;
/*main_header*/
#main_header{
	width: 960px;height: 130px;margin: 0 auto;
	_border: 1px solid #000;position: relative;
}
#logo{position: absolute;top: 20px;left: 10px;}

/*util_menu*/
#util_menu{position: absolute;top: 0;right: 0;}
#util_menu>ul>li{float: left;}
#util_menu>ul>li>a{
	display: block;padding: 2px 10px;border: 1px solid #000;
	border-right: 0 none;
}

#util_menu>ul>li:last-child a{
	border-right: 1px solid #000;
	border-radius: 0 10px 10px 0;
}
#util_menu>ul>li:first-child a{border-radius: 10px 0 0 10px;}
#util_menu>ul>li:first-child a{border-radius: 10px 0 0 10px;}
#util_menu>ul>li>a:hover{background-color: skyblue;transition: 0.3s;}


/*main menu*/
#main_menu{position: absolute;bottom: 0;width: 100%;}
#main_menu>ul>li{
	float: left;width: 20%;border: 1px solid #000;
	border-right: 0 none; }
#main_menu>ul>li:first-child{border-radius: 10px 0 0 10px;}
#main_menu>ul>li:last-child{
	border-right: 1px solid #000;border-radius: 0 10px 10px 0;
}
#main_menu>ul>li:hover{background-color: pink;transition: 0.3s;}
#main_menu>ul>li>a{
	display: block;text-align: center;line-height: 40px;
}

/*content*/
#content{width: 960px;margin: 0 auto;}
	#main_section{width: 750px;float: left;}
	#main_section>.main_article{padding: 20px;border: 1px solid #000;
		margin-bottom: 10px;}
	#main_aside{width: 200px;float: right;}


	/*footer*/
#main_footer{word-wrap: 960px;margin: 0 auto;text-align: center;border: 1px solid #000;}
	address{font-style:normal;}